.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #25294a;
}


.content-container {
  margin-left: 18%;
  flex: 1;
  flex: auto;
  flex-direction: column;
  padding: 0px;
  overflow-y: auto;
  min-height: 100vh;
  
}


